python-dotenv
srt
regex
appdirs
events
requests
# darkdetect # Removed GUI dependency
setuptools
# pyside6 # Removed GUI dependency
httpx
httpx[socks]
google-genai
google-api-core
protobuf>=4.25.8 # not directly required, pinned by Snyk to avoid a vulnerability
urllib3>=2.5.0 # not directly required, pinned by Snyk to avoid a vulnerability
